<div style="display: flex; flex-direction: row; flex-wrap: wrap;" >
    {% for object in item.objects %}
    <div style="margin:20px;background-image: url('{{object.primaryImageSmall}}');height: 200px;width: 200px;background-size:cover;background-repeat: no-repeat;">
        <p>{{object.title}}</p>
    </div>
    {% endfor %}
</div>